body{
background-image: url("voorbeeld/header_bg.jpg");
background-color: white;
background-repeat: no-repeat;
background-position: 0px 51px;
background-size: 1349px 667px;
}
.boss{
width: 302px;
margin-top: 156px;
margin-right: 523.5px;
margin-left: 523.5px;  
}
span i{	
display: inline-block;
font-size: 35px;
color: grey;
width: 45px;
margin-left: 75px;

}
div.menu2{
width: 900px;
margin-top: 50px;
margin-left: 235px;
}
span span{
	display: inline-block;
	width: 45px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}
.home2{
	margin-left: 75px; 
}
.features2{
	margin-left: 58px;
}
.pages2{
	margin-left: 84px;	
}
.portofolio2{
	margin-left: 55px;	
}
.blog2{
	margin-left: 97px;	
}
.contact2{
	margin-left: 63px;	
}
.logo{
	margin-left: 1080px;
	font-size: 13px;
}
.logo i{
	background-color: lightgray;	
	background-size: 46.25px;
	color: white;
	padding: 15px;
	margin: 0px;
}
.fab.fa-facebook-f{
	padding-left: 19px;
	padding-right: 19px;
}
h1{
	text-align: center;
	margin-top: 300px;
	color: white;
}
p{
	text-align: center;
	color: white;
	margin: 10px;
}
.locatie{
	margin-left: 80px;
}